* {
  padding: 0;
  margin: 0;
  font: 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html, body {
  background-color: #101010;
}

span {
  font-weight: inherit;
  color: inherit;
}

.clearfix {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.navbar__wrapper {
}


.toolstart__wrapper {
  position: absolute;
}

.layers__wrapper {
  float: left;
  margin: 5px;
}

.tools__wrapper {
  float: left;
  margin: 5px;
}

.library__wrapper {
  float: left;
  margin: 5px;
}

.swatch__wrapper {
  float: left;
  margin: 5px;
}
